@font-face {
  font-family: "Poppins";
  src: url("./../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ECECEC;
  font-family: "Poppins", sans-serif;
}

.container-element {
  margin: 0 auto;
  max-width: 90%;
}

.brand-logo {
  height: 60px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
label {
  text-transform: capitalize;
}

input, select {
  width: 100%;
  height: 45px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #9F9DFF;
}

select {
  text-transform: capitalize;
}

option {
  height: 30px;
  text-transform: capitalize;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
  accent-color: #5463FF;
}

.btn {
  width: 200px;
  height: 45px;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}
.btn-primary {
  background-color: #5463FF;
  color: #FAFAFA;
  border: none;
}
.btn-secondary {
  background-color: transparent;
  border: 2px solid #5463FF;
  color: #0E3BCD;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 90px;
  background-color: #FAFAFA;
}
.header__content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.header__content--brand {
  height: 100%;
  display: grid;
  align-items: center;
}
.header__content .menu-active {
  display: block;
  animation: fadeIn 0.7s both;
}
.header__content--nav {
  display: none;
  position: absolute;
  top: 90px;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 20px;
  background-color: #FAFAFA;
  animation: fadeOut 2s both;
}
@media (min-width: 900px) {
  .header__content--nav {
    display: block;
    position: initial;
    padding: 0;
    animation: none;
  }
}
@media (min-width: 900px) {
  .header__content--nav ul {
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
}
.header__content--nav ul li {
  margin-bottom: 15px;
  list-style: none;
}
.header__content--nav ul li:last-child {
  margin-bottom: 0;
}
@media (min-width: 900px) {
  .header__content--nav ul li {
    margin-bottom: 0;
  }
}
.header__content--nav ul li .current {
  color: #5463FF;
  font-weight: 700;
  text-decoration: underline;
}
.header__content--nav ul li a {
  font-size: 16px;
  text-decoration: none;
  text-transform: capitalize;
  color: #121212;
}
.header__content .exit :first-child {
  display: none;
  animation: fadeOut 1s both;
}
.header__content .exit :last-child {
  display: block;
  animation: fadeIn 1s both;
}
.header__content--burger {
  color: #121212;
  font-size: 32px;
  cursor: pointer;
}
.header__content--burger :last-child {
  display: none;
}
@media (min-width: 900px) {
  .header__content--burger {
    display: none;
  }
}

.footer {
  width: 100%;
  padding: 40px 0;
  background-color: #FAFAFA;
}
.footer__content--about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}
@media (min-width: 900px) {
  .footer__content--about {
    justify-items: center;
  }
}
.footer__content--about .footer-brand figure {
  margin-bottom: 15px;
}
.footer__content--about .footer-brand p {
  margin-bottom: 10px;
}
.footer__content--about nav {
  margin: 20px 0;
}
.footer__content--about nav h3 {
  margin-bottom: 20px;
  color: #121212;
}
.footer__content--about nav ul li {
  list-style: none;
  margin-bottom: 15px;
}
.footer__content--about nav ul li:last-child {
  margin-bottom: 0;
}
.footer__content--about nav ul li .current-footer {
  color: #5463FF;
  font-weight: 700;
  text-decoration: none;
}
.footer__content--about nav ul li a {
  color: #121212;
  text-decoration: none;
  text-transform: capitalize;
}
.footer__content--about .footer-social h3 {
  margin-bottom: 20px;
  color: #121212;
}
.footer__content--about .footer-social div {
  display: grid;
  grid-template-columns: repeat(auto-fill, 40px);
  gap: 10px;
  place-items: center;
}
.footer__content--about .footer-social div button {
  border: none;
  background-color: transparent;
  font-size: 32px;
  color: #0E3BCD;
  cursor: pointer;
}
.footer__content--copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.footer__content--copyright p {
  text-align: center;
}

.login {
  width: 100%;
  min-height: 80vh;
}
.login__content {
  width: 100%;
}
@media (min-width: 900px) {
  .login__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, calc(35% - 30px));
    gap: 30px;
    place-content: center;
    place-items: center;
  }
}
.login__content--picture {
  width: 100%;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.login__content--picture :first-child {
  display: none;
}
@media (min-width: 900px) {
  .login__content--picture :first-child {
    display: block;
    width: 100%;
    max-height: 700px;
    object-fit: cover;
    object-position: center;
  }
  .login__content--picture :last-child {
    display: none;
  }
}
.login__content--info {
  width: 100%;
}
.login__content--info h2 {
  margin-bottom: 20px;
  font-size: 32px;
  text-align: center;
}
.login__content--info form {
  width: 100%;
  height: 100%;
  min-height: 300px;
  margin-bottom: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}
.login__content--info form .btn-primary {
  margin: 0 auto;
}
.login__content--info form a {
  color: #0E3BCD;
}
.login__content--info div p {
  margin-bottom: 15px;
}

.signUp {
  width: 100%;
  min-height: 60vh;
}
.signUp__content--info h2 {
  margin: 50px 0;
  font-size: 32px;
  color: #121212;
  text-align: center;
}
.signUp__content--info .signUp-progress {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.signUp__content--info .signUp-progress .dot {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #CCCCCC;
  border: 1px solid #0E3BCD;
  border-radius: 50%;
}
.signUp__content--info .signUp-progress .dot-active {
  background-color: #5463FF;
  color: #FAFAFA;
  font-size: 18px;
  font-weight: 600;
}
.signUp__content--info .signUp-progress div {
  position: absolute;
  z-index: -1;
  width: 60%;
  height: 1px;
  border: 1px solid #0E3BCD;
}
.signUp__content--info form {
  width: 100%;
  height: 100%;
  min-height: 320px;
  margin-bottom: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}
@media (min-width: 900px) {
  .signUp__content--info form {
    width: 60%;
    margin: 0 auto;
  }
}
.signUp__content--info form div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}
.signUp__content--info form div .btn-secondary {
  margin-right: 10px;
}
.signUp__content--info form h4 {
  width: 100%;
  font-size: 18px;
  text-align: center;
}
.signUp__content--info form .terms {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.signUp__content--info form .terms input {
  margin-right: 15px;
}
.signUp__content--info #two-step, .signUp__content--info #three-step {
  display: none;
}
.signUp__content--info .step-active {
  display: flex;
  animation: fadeIn 1s both;
}
.signUp__content--info .step-disable {
  display: none;
}

.hero {
  width: 100%;
  height: calc(100vh - 90px);
  display: grid;
  place-content: center;
  background-image: url("./../assets/img/hero-bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__content {
  display: grid;
  width: 100%;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: none;
}
.hero__content h1 {
  margin-bottom: 20px;
  color: #121212;
  text-align: center;
}
.hero__content button {
  margin: 0 auto;
}

.projects {
  width: 100%;
  margin: 50px 0;
}
@media (min-width: 900px) {
  .projects__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, calc(50% - 30px));
    gap: 30px;
  }
}
.projects__content figure {
  width: 100%;
  margin-bottom: 30px;
}
@media (min-width: 900px) {
  .projects__content figure {
    margin-bottom: 0;
  }
}
.projects__content figure img {
  width: 100%;
}
.projects__content--description h2 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #121212;
}
.projects__content--description p {
  margin-bottom: 20px;
  line-height: 24px;
}

.about {
  width: 100%;
  margin: 50px 0;
}
.about__content h2 {
  margin-bottom: 50px;
  text-align: center;
  color: #121212;
  font-size: 32px;
}
.about__content--video {
  width: 100%;
}
.about__content--video video {
  width: 100%;
}

.reasons {
  width: 100%;
  margin: 50px 0;
}
.reasons__content {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 30px;
  place-content: center;
  place-items: center;
}
@media (min-width: 600px) {
  .reasons__content {
    grid-template-columns: repeat(auto-fit, calc(50% - 20px));
    gap: 20px;
  }
}
@media (min-width: 900px) {
  .reasons__content {
    width: 80%;
    grid-template-columns: repeat(auto-fit, calc(50% - 30px));
    gap: 30px;
  }
}
.reasons__content--card {
  display: grid;
  grid-template-columns: 100px 200px;
  gap: 10px;
}
@media (min-width: 900px) {
  .reasons__content--card {
    grid-template-columns: 100px 250px;
  }
}
.reasons__content--card figure {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.reasons__content--card figure img {
  width: 90px;
}

.subscribe {
  height: 300px;
  background-image: url("./../assets/img/mail.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.subscribe__content {
  height: 100%;
  display: grid;
  place-content: center;
  place-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: 15px;
}
.subscribe__content h2 {
  text-align: center;
  margin-bottom: 20px;
}
.subscribe__content div {
  width: 100%;
}
.subscribe__content div input {
  width: 100%;
  margin-bottom: 20px;
}
.subscribe__content div button {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.account {
  margin: 40px 0;
  min-height: 50vh;
}
.account__content {
  height: 100%;
}
.account__content h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 32px;
}
.account__content .show {
  display: flex;
  animation: fadeIn 1s both;
}
.account__content .hide {
  display: none;
}
.account__content--info {
  height: 45vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 900px) {
  .account__content--info {
    width: 60%;
    margin: 0 auto;
  }
}
.account__content--info h4 {
  margin-bottom: 20px;
  font-size: 18px;
}
.account__content--info p {
  margin-bottom: 20px;
}
.account__content--form {
  height: 45vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  display: none;
}
@media (min-width: 900px) {
  .account__content--form {
    width: 60%;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
