.hero {
    width: 100%;
    height: calc(100vh - 90px);
    display: grid;
    place-content: center;
    background-image: url("./../assets/img/hero-bg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__content {
        display: grid;
        width: 100%;
        padding: 30px;
        background-color: rgba(#fff, 0.4);
        backdrop-filter: blur(10px);
        border-radius: 20px;
        border: none;
        h1 {
            margin-bottom: 20px;
            color: $dark-color;
            text-align: center;
        }
        button {
            margin: 0 auto;
        }
    }
}

.projects {
    width: 100%;
    margin: 100px 0;
    &__content {
        @include for-tablet-landscape-up {
            display: grid;
            grid-template-columns: repeat(auto-fill, calc(50% - 30px));
            gap: 30px;
        }
        figure {
            width: 100%;
            margin-bottom: 30px;
            @include for-tablet-landscape-up {
                margin-bottom: 0;
            }
            img {
                width: 100%;
            }
        }
        &--description {
            h2 {
                font-size: $xx-lg;
                margin-bottom: 30px;
                color: $dark-color;
            }
            p {
                margin-bottom: 20px;
                line-height: $x-lg;
            }
        }
    }
}

.about {
    width: 100%;
    margin: 100px 0;
    overflow: hidden;

    &__content {
        h2 {
            margin-bottom: 50px;
            text-align: center;
            color: $dark-color;
            font-size: $xx-lg;
        }
        &--video {
            width: 100%;
            video {
                width: 100%;

                @include for-tablet-landscape-up {
                    margin: 0 auto;
                    display: grid;
                    width: 70%;
                }
            }
        }
    }
}

.reasons {
    width: 100%;
    margin: 100px 0;
    overflow: hidden;

    &__content {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, 300px);
        gap: 30px;
        place-content: center;
        place-items: center;
        @include for-tablet-portrait-up {
            grid-template-columns: repeat(auto-fit, calc(50% - 20px));
            gap: 20px;
        }
        @include for-tablet-landscape-up {
            width: 80%;
            grid-template-columns: repeat(auto-fit, calc(50% - 30px));
            gap: 30px;
        }
        &--card {
            display: grid;
            grid-template-columns: 100px 200px;
            gap: 10px;
            @include for-tablet-landscape-up {
                grid-template-columns: 100px 250px;
            }
            figure {
                width: 100%;
                @include flex(center,
                center);
                img {
                    width: 90px;
                }
            }
        }
    }
}

.subscribe {
    height: 300px;
    background-image: url("./../assets/img/mail.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &__content {
        height: 100%;
        display: grid;
        place-content: center;
        place-items: center;
        background-color: rgba(#fff, 0.4);
        backdrop-filter: 15px;
        h2 {
            text-align: center;
            margin-bottom: 20px;
        }
        div {
            width: 100%;
            input {
                width: 100%;
                margin-bottom: 20px;
            }
            button {
                margin: 0 auto;
                @include flex(center,
                center);
            }
        }
    }
}